*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
body{
    background: linear-gradient(rgba(18,0,12,255),rgba(19,1,13,255));
}
/*.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}*/
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left:50%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 7s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left:60%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);    
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left:10%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left:70%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left:80%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left:25%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left:25%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left:80%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 5s linear infinite;
}
header {
    background: rgba(72, 0, 48, 0.8);
    padding: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8);
    position: sticky;
}
header nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
nav .logo h2{
    font-size: 2.5em;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.navlinks ul{
    display: flex;
    justify-content: space-between;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 7px;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
}
.navlinks ul li a:hover{
    font-size: 2em;
    background-color: #4ac0fc;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px; 
    padding: 30px;
}
.main .description .imagecontainer {
    position: relative;
    width: 280px;
    height: 480px;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
    transform: rotate(-5deg);
    background: linear-gradient(120deg, #dc21b8, #4ac0fc);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);
    padding: 20px; 
}
.main .description .imagecontainer::before {
    content: "";
    position: absolute;
    width: 105%;
    height: 105%;
    background: linear-gradient(135deg, #dc21b8, #4ac0fc);
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 35px;
    transform: rotate(-5deg);
}

/* Image inside container */
.main .description .imagecontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transform: rotate(5deg);
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}
.main .description .imagecontainer:hover img {
    transform: rotate(0deg) scale(1.03);
}
.main .bio{
    color: white;
    padding: 40px;
}
.main .bio h2{
    font-size: 3.5em;
    padding: 20px;
    text-transform: uppercase;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.bio p{
    font-size: 1.5em;
    padding: 20px;
}
#skills{
    font-size: 3.5em;
    text-align: center;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.skills{
    margin: 30px;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}
.skills ul li{
    background: linear-gradient(90deg,#dc21b8,#4ac0fc);
    padding: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    list-style: none;
    transition: all 1s ease;    
}
.skills ul li:hover{
    transform: translateY(-20px);
    box-shadow: 0px 10px 25px rgba(237, 236, 236, 0.6);
}

@keyframes animate{
    0%{
      transform: scale(0) translateY(0) rotate(0);  
      opacity: 1;
    }
    100%{
      transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 0;  
    }
}
@keyframes movepic {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px); 
    }
    100% { 
        transform: translateY(0); 
    }
    
}
