*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}
body{
    background: linear-gradient(rgba(18,0,12,255),rgba(19,1,13,255));
}
/*.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}*/
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left:50%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 7s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left:60%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);    
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left:10%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left:70%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left:80%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left:25%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left:25%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left:80%;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
    animation: animate 5s linear infinite;
}
header {
    background: rgba(72, 0, 48, 0.8);
    padding: 20px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
}
header nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
nav .logo h2{
    font-size: 2.5em;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}

.navlinks ul{
    display: flex;
    justify-content: space-between;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    color: #fff;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 7px;
    text-transform: capitalize;
    transition: all 0.5s ease-out;
}
.navlinks ul li a:hover{
    font-size: 2em;
    background-color: #4ac0fc;
}
.aboutmesection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}
.aboutmesection .bio p{
    word-wrap: break-word;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}
.aboutmesection .imagecontainer{
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 320px;
}
.aboutmesection .imagecontainer .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    filter: brightness(50%);
    transform: rotate(28deg);
    transform-origin: top left;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.aboutmesection .imagecontainer .back:hover{
    max-width: 400px;
}
.aboutmesection .imagecontainer .middle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    background-color: rgba(72, 0, 48, 0.8);
    transform: rotate(19deg);
    transform-origin: top left;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.aboutmesection .imagecontainer .middle:hover{
    max-width: 400px;
}
.aboutmesection .imagecontainer .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 200px;
    height: auto;
    transform: rotate(10deg);
    transform-origin: top left;
    filter: brightness(80%) contrast(120%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.aboutmesection .imagecontainer .front:hover{
    max-width: 400px;
}
.aboutmesection .imagecontainer .pin{
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100%;
    max-width: 30px;
    height: auto;
    filter: brightness(500%);
}
.main .bio{
    color: white;
    padding: 20px;
}
.main .bio h2{
    text-align: center;
    font-size: 3.5em;
    padding: 20px;
    text-transform: uppercase;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
.main .bio h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc) ;
    margin: 10px auto 0;
    border-radius: 2px;
}
.bio p{
    font-size: 1em;
    padding: 10px;
}
.button{
    padding: 20px;

}
.button a{
    text-decoration: none;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.button a:hover{
    transform: translateY(-20px);
    box-shadow: 0px 10px 25px rgba(237, 236, 236, 0.6); 
}
#interests{
    font-size: 3.5em;
    text-align: center;
    margin-top: 70px;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
#interests::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc) ;
    margin: 10px auto 0;
    border-radius: 2px;
}
.interests{
    margin: 30px;
}
#skills{
    font-size: 3.5em;
    text-align: center;
    margin-top: 70px;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
#skills::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc) ;
    margin: 10px auto 0;
    border-radius: 2px;
}
.interests ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}
.interests ul li{
    list-style: none;
}
.interests ul li i{
    background: rgba(72, 0, 48, 0.849);
    border-radius: 50%;
    padding: 30px;
    font-size: 3.5em;
    text-align: center;
    font-weight: 600;
    transition: all 1s ease;    
}
.interests ul li i:hover{
    transform: translateY(-20px);
    box-shadow: 0px 10px 25px rgba(237, 236, 236, 0.6);
}
.skills{
    margin: 30px;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}
.skills ul li{
    list-style: none;
}
.skills ul li i{
    background: rgba(72, 0, 48, 0.849);
    border-radius: 50%;
    padding: 30px;
    font-size: 3.5em;
    text-align: center;
    font-weight: 600;
    transition: all 1s ease;    
}
.skills ul li i:hover{
    transform: translateY(-20px);
    box-shadow: 0px 10px 25px rgba(237, 236, 236, 0.6);
}
.skills ul li h5{
    word-wrap: break-word;
    width: 100%;
    max-width: 350px;
    font-weight: 600;
    margin-bottom: 10px;
}
#projects{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 25px;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
#projects::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc) ;
    margin: 10px auto 0;
    border-radius: 2px;
}
.projectsection{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 25px;
    gap: 30px;
    justify-content: center;
}
.projectsection .project{
    background: rgba(72, 0, 48, 0.849);
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    transition: all 1s ease-in-out;
}
.projectsection .project h4{
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
}
.projectsection .project .image{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.projectsection .project img{
    width: 75%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    border-radius: 5px;
    filter: grayscale(20%) brightness(0.9);
}
.projectsection .project:hover{
    transform: translateY(-20px);
    box-shadow: 0px 10px 25px rgba(237, 236, 236, 0.6);    
}
.projectsection .project .description{
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #F5F5DC;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
.projectsection .project .details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.projectsection .project .details a{
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5em;
}
.projectsection .project .details a:hover::after{
    content: '';
    display: block;
    width: 15px;
    height: 4px;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc) ;
    margin: 10px auto 0;
    border-radius: 2px;
}
#education{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 25px;
    background: linear-gradient(#dc21b8,#4ac0fc);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
}
#education::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg,#dc21b8,#4ac0fc) ;
    margin: 10px auto 0;
    border-radius: 2px;
}
.educationsection{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.educationsection::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: linear-gradient(#4ac0fc,#dc21b8);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: flowline 6s linear forwards;

}
.educationsection .education_container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: appear 1s linear forwards;
    opacity: 0;
}
.education_container:nth-child(2){
    animation-delay: 1s;
}
.education_container:nth-child(3){
    animation-delay: 2s;
}
.education_container:nth-child(4){
    animation-delay: 3s;
}
.education_container:nth-child(5){
    animation-delay: 5s;
}
.educationsection .education_container .text_container{
    padding: 20px 30px;
    background: linear-gradient(90deg, #4ac0fc,#dc21b8);
    position: relative;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}
.text_container h3{
    font-weight: 800;
}
.text_container #date{
    display: inline-block;
    margin-bottom: 15px;
}
.right {
    left: 50%;
}
.left{
    left: 0;
}
.education_container img{
    position: absolute;
    width: 40px;
    border-radius: 10%;
    right: -20px;
    top: 32px;
    z-index: 10;
    background: linear-gradient(90deg,#4ac0fc,#dc21b8);
}
.right img{
    left: -20px;
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #dc21b8;
    right: -15px;

}
.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #4ac0fc;
    left: -15px;

}
footer{
    background: rgba(255,255,255,0.1);
    color: #fff;
    padding: 10px;
    text-align: center;
}
@keyframes animate{
    0%{
      transform: scale(0) translateY(0) rotate(0);  
      opacity: 1;
    }
    100%{
      transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 0;  
    }
}
@keyframes movepic {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(100px); 
    }
    100% { 
        transform: translateY(0); 
    }    
}
@keyframes flowline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    } 
}
@keyframes appear {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }  
}
/*Respnsive Design Media Queries*/
@media screen and (max-width: 600px){
    .interests ul{
        display: flex;
        flex-wrap: wrap;
    }
    .educationsection{
        margin: 50px auto;
    }
    .educationsection::after{
        left: 31px;
    }
    .education_container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text_container{
        font-size: 13px;
    }
    .text_container #date{
        margin-bottom: 10px;
    }
    .right{
        left: 5px;
    }
    .left img, .right img{
        left: 10px;
    }
    .right-arrow, .left-arrow{
        border-right: 15px solid #dc21b8;
        border-left: 0;
        left: -15px;
    }
    .projectsection{
        display: flex;
        flex-wrap: wrap;
    }  
    .aboutmesection .imagecontainer .back,.aboutmesection .imagecontainer .middle,.aboutmesection .imagecontainer .front{
        max-width: 100px;
    }
}
@media screen and (min-width: 600px){
    .educationsection{
        margin: 70px auto;
    }
    .education_container{
        width: 100%;
        padding-left: 90px;
        padding-right: 30px;
    }
    .text_container{
        font-size: 13px;
    }
    .text_container #date{
        margin-bottom: 10px;
    }
    .projectsection{
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 10px;
    }  
    .projectsection .project{
        padding: 20px;
    }
    .aboutmesection .imagecontainer .back,.aboutmesection .imagecontainer .middle,.aboutmesection .imagecontainer .front{
        max-width: 200px;
    }
}

