<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Tabby</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" href="/images/Portfoliologo.jpg"type="image/x-icon">
    <!---Fontawesome cdn link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>SheDev<span class="mark">.</span></h2>
            </div>
            <div class="navlinks">
                <ul>
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-----divs for background animation----->
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <br><br>
    <h1>About me</h1>
    <div class="main">
        <div class="description">
            <div class="imagecontainer">
                <img src="/images/pic1.jpeg" alt="me">                
            </div>

        </div>
    </div>
    
</body>
</html>